    hr{
        width: 70%;
        background-color: black;
        margin-left: 1%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }  

    th{
        height: 30px;
        width: 10%;
        text-align: center;
        font-size: 12px;
        border-bottom: 1px solid black;
    }

    td{
        text-align: center;
        height: 40px;
    }

    table{
        width: 71.5%;
    }

    .wrap{
        margin-top: 3%;
    }

    .middle{
        font-size: 9px;
        font-weight: 900;
        height: 70px;
        border-bottom: 1px solid black;
        vertical-align: bottom;
    }

    .bottom{
        font-size: 11px;
        vertical-align: bottom;
        color: gray;
    }

    .check{
       font-size: 10px;
       font-weight: 900;
       color: black;
       width: 10px;
       height: 20px;
       text-align: center;
       vertical-align: middle;
       padding: 0%;
   }

   .move{
       margin-left: 10%;
   }

    .preNextImg{
       width: 2%;
       
   }
	
		
	
    #head1{
        font-size: 14px;
        font-weight: 900;
    }

    #head2{
        font-size: 12px;
        font-weight: 500;
    }

    #button-1{
        border: 0;
        outline: 0;
        background-color: #28A0FF;
        color: white;
        font-weight: 900;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    #button-2{
        border: 0;
        outline: 0;
        background-color: white;
        color: black;
        font-weight: 900;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    #register{
        width: 10%;
        padding-bottom: 0%;
        font-size: 10px;
    }

    #registerOut{
        line-height: 1;
        width: 10%;
        color: black;
    }

    #information{
        width: 40%;
        font-size: 10px;
    }
    
    #informationOut{
    	width: 40%;
    	color: black;
    }

    #amount{
        width: 10%;
        font-size: 10px;
    }
    
    #amountOut{
    	width: 10%;
    	color: black;
    }

    #sale{
        width: 15%;
        font-size: 10px;
    }
    
    #saleOut{
    	width: 15%;
    	color: black;
    }

    #condition{
        width: 15%;
        font-size: 10px;
    }

    #conditionOut{
        color: #28A0FF;
        width: 15%
        
    }

    #preNext{
        margin-top: 10%;
    }
    
    #check1{
    	margin-top: -5%;
    	margin-left: -2%;
    	font-size: 16px;
    	color: black;
    }

    #check2{
    	margin-top: -5%;
        font-size: 16px;
    	color: black;
    }
    
    #check3{
    	margin-top: -5%;
        font-size: 16px;
    	color: black;    	
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    