        #ment{
            font-size: 25px;
            font-weight: bold;
            color: gray;
            margin-top: 25%;
            text-align: center;
        }

        #logo{
            text-align: center;
            margin-top: 3%;
        }

        img{
            width: 4%;
        }