        .box{
            margin-left: 38%;
            margin-top: 1%;
        }

        .check{
            width: 8%;
        }


        #ment{
            font-weight: bold;
            margin-left: 35%;
            margin-top: 20%;
        }
        
        #sure{
            margin-right: 2%;
        }